<div
  class="my-intro container-fluid d-flex align-items-center justify-content-center min-vh-100"
>
  <div class="row my-auto">
    <div class="col-md-12 col-lg-5 mx-auto">
      <h1>{{ title }}</h1>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus
        dolor consequatur officiis quae. Quia distinctio rem repellat possimus,
        ipsum illum a! Ex consequatur consequuntur amet animi tenetur similique
        iure sequi!
      </p>
      <img
        [src]="imagePath"
        class="d-block img-fluid mx-auto"
        alt="{{ imagePath }}"
        class="img-responsive"
      />

      <p></p>
      <button type="button" class="mx-2 btn btn-primary">Discover</button>
      <button type="button" class="mx-2 btn btn-secondary">Contact me</button>
    </div>
  </div>
</div>
