<div
  id="messages"
  class="border-gradient border-gradient-turquoise min-vh-100ish p-3"
>
  <h3>{{ title }}</h3>
  <button (click)="toggleVisibility()" class="btn btn-secondary">
    Toggle Visibility
  </button>
  <div *ngIf="isVisible" id="messages-display">
    <a
      *ngFor="let message of messages"
      href="#"
      class="myMessages border-gradient border-gradient-purple-pink d-flex align-items-center py-1 mb-2 main-dark-bg"
    >
      <img
        class="rounded-circle mx-3"
        [src]="message.avatarUrl"
        alt=""
        srcset=""
      />
      <div class="message-content">
        <h5 class="my-0">{{ message.author }}</h5>
        <p class="my-0">
          {{ message.body }}
        </p>
        <button class="btn btn-info">Mark as Read</button>
      </div>
    </a>
  </div>
</div>
