a {
  background: linear-gradient(#525353, #8b748b);
  margin: 10px;
  padding: 5px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  border-color: #eb8beb;
}

a:hover {
  transform: translateY(-10px) scale(1.02) translateZ(0);
  box-shadow: 0 24px 36px rgba(232, 155, 235, 0.11),
    0 24px 46px var(--box-shadow-color);
}
a.myMessages {
  transition: 0.5s;
}
#messages {
  border-width: 0;
  border-left-width: 5px;
}

img {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid rgb(255, 255, 255);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

h5 {
  color: rgb(153, 165, 233);
}
h3 {
  color: rgb(153, 165, 233);
}
