<div class="svgcontainer">
  <div class="subcont">
    <div class="topconvo">
      <span>!@#$</span><br />your portal gun must be busted...
    </div>
    <svg
      version="1.1"
      id="fourohfour"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      x="0px"
      y="0px"
      viewBox="0 0 265.5 114"
      style="enable-background: new 0 0 265.5 114"
      xml:space="preserve"
    >
      <g id="bottoms">
        <g id="leftfourbottom">
          <ellipse class="st0" cx="82.4" cy="65.5" rx="11.7" ry="3.5" />
          <path
            class="st1"
            d="M98.4,78.9c-0.8-2.8-2.8-4.4-6-4.9c0.7-2.7,1.3-5.8,1.7-8.4L93.9,66c-0.8,1.7-5.7,3-11.5,3s-10.7-1.3-11.5-3l-0.1-0.5
			c0,0.8,0.1,2.1,0.1,2.7c0,2.4-0.3,4.3-1,5.9c-0.3,0.7-1.1,1.1-2.3,1.1c-1.7,0-2.8-0.7-3.2-2l0,0c-0.3-1.3,0.4-3.5,1.9-6.6
			c0.1-0.3,0.2-0.6,0.2-0.7h-0.7c0,1.7-4.5,3-10,3s-10-1.3-10-3l-0.5-0.2c-0.7,1.8-1.3,3.4-1.8,4.6c-1.7,4.2-2.5,7.8-2.5,10.8
			c0,3.8,1.4,7.2,4.1,10.1c3.8,3.1,9.6,4.7,17.5,4.7c0.5,0.5,0.7,1.4,0.7,2.9c0,1.7,0,2.6,0.1,2.7c0.9,6.2,3.5,10,7.6,11.5
			c1.7,0.6,3.6,0.9,5.6,0.9c7.5,0,12-3,13.5-8.9c0.5-1.9,0.7-5.1,0.7-9.5c0-2.1,1-3.1,3.1-3.1c3.2-1.3,4.7-3.9,4.7-7.8h0.1
			C98.8,81.6,98.7,79.7,98.4,78.9z"
          />
          <ellipse class="st0" cx="55.8" cy="66" rx="10.6" ry="3" />
          <ellipse class="st2" cx="82.4" cy="65.5" rx="3.5" ry="1.1" />
          <ellipse class="st2" cx="55.5" cy="65.8" rx="3.2" ry="0.9" />
        </g>
        <g id="rightfourbottom">
          <ellipse class="st0" cx="208.1" cy="65.5" rx="11.7" ry="3.5" />
          <path
            class="st1"
            d="M224.1,78.9c-0.8-2.8-2.8-4.4-6-4.9c0.7-2.7,1.3-5.8,1.7-8.4l-0.1,0.5c-0.8,1.7-5.7,3-11.5,3c-5.9,0-10.7-1.3-11.5-3
			l-0.1-0.5c0,0.8,0.1,2.1,0.1,2.7c0,2.4-0.3,4.3-1,5.9c-0.3,0.7-1.1,1.1-2.3,1.1c-1.7,0-2.8-0.7-3.2-2l0,0
			c-0.3-1.3,0.4-3.5,1.9-6.6c0.1-0.3,0.2-0.6,0.2-0.7h-0.7c0,1.7-4.5,3-10,3s-10-1.3-10-3l-0.5-0.2c-0.7,1.8-1.3,3.4-1.8,4.6
			c-1.7,4.2-2.5,7.8-2.5,10.8c0,3.8,1.4,7.2,4.1,10.1c3.8,3.1,9.6,4.7,17.5,4.7c0.5,0.5,0.7,1.4,0.7,2.9c0,1.7,0,2.6,0.1,2.7
			c0.9,6.2,3.5,10,7.6,11.5c1.7,0.6,3.6,0.9,5.6,0.9c7.5,0,12-3,13.5-8.9c0.5-1.9,0.7-5.1,0.7-9.5c0-2.1,1-3.1,3.1-3.1
			c3.2-1.3,4.7-3.9,4.7-7.8h0.1C224.5,81.6,224.3,79.7,224.1,78.9z"
          />
          <ellipse class="st0" cx="181.5" cy="66" rx="10.6" ry="3" />
          <ellipse class="st2" cx="208.1" cy="65.5" rx="3.5" ry="1.1" />
          <ellipse class="st2" cx="181.2" cy="65.8" rx="3.2" ry="0.9" />
        </g>
        <g id="zerobottom">
          <path
            class="st1"
            d="M135.6,65.2L135.6,65.2c0,0.6,0,1.1,0,1.7c0,4-0.8,11.1-2.5,21.5c-0.3,0.9-0.8,1.3-1.5,1.3l-0.6-0.4
			c-0.8-5.7-1.2-10.5-1.2-14.4c0-3.5,0.3-6.6,0.9-9.4h-25.4c-0.7,4.3-1,8.9-0.9,13.8c1.2,6.9,2.6,12.3,4.1,16
			c2.3,5.5,5.6,10,9.9,13.4c5.6,3.5,11.1,5.2,16.6,5.2c1.9,0,3.8-0.2,5.6-0.7c3-0.7,5.7-2.3,8.3-4.6c2.6-2.3,4.3-5,5.3-7.8
			c4.1-8.6,6.1-18.3,6.1-29.1c0-2.2-0.1-4.4-0.3-6.5H135.6z"
          />
          <path
            class="st0"
            d="M160,65.2c0,2.1-5.5,3.8-12.2,3.8s-12.3-1.7-12.3-3.8s5.5-3.8,12.3-3.8S160,63.2,160,65.2z"
          />
          <path
            class="st0"
            d="M130.6,65.6c0,1.9-5.7,3.4-12.7,3.4s-12.8-1.6-12.8-3.5s5.7-3.5,12.8-3.5S130.6,63.7,130.6,65.6z"
          />
          <ellipse class="st2" cx="147.8" cy="65.2" rx="3.2" ry="1" />
          <ellipse class="st2" cx="117.9" cy="65.5" rx="3.4" ry="0.9" />
        </g>
      </g>
      <g id="tops">
        <path
          class="st1 picklericked"
          id="leftfourtop"
          d="M82.6,70c6.5,0,11.1-1.3,11.3-3.3c0,0,0,0,0,0c0.5-3.4,1.5-6.8,1.5-10c0-5.3-0.9-9.4-2.7-12.2
		c-2.4-3.8-6.3-6.8-11.7-9c-2.5-0.7-5.1-1-8-1c-5.8,0-9.8,1.2-12,3.6c-4.2,4.5-8.8,12.1-13.8,23c-0.9,2.2-1.7,4.4-2.4,6.1
		C44.9,69,49.6,70,55.4,70c5.1,0,8.9-0.6,10.1-1.9c1.8-3.6,3.7-6.8,4.6-8.5c0.3,2.7,0.6,5.2,0.7,7.1c0,0,0,0,0,0
		C70.9,68.7,76.1,70,82.6,70z"
        />
        <path
          class="st1 picklericked"
          id="rightfourtop"
          d="M208.2,70c6.5,0,11.1-1.3,11.3-3.3c0,0,0,0,0,0c0.5-3.4,1.5-6.8,1.5-10c0-5.3-0.9-9.4-2.7-12.2
		c-2.4-3.8-6.3-6.8-11.7-9c-2.5-0.7-5.1-1-8-1c-5.8,0-9.8,1.2-12,3.6c-4.2,4.5-8.8,12.1-13.8,23c-0.9,2.2-1.7,4.4-2.4,6.1
		c0.2,1.7,4.9,2.7,10.7,2.7c5.1,0,8.9-0.6,10.1-1.9c1.8-3.6,3.7-6.8,4.6-8.5c0.3,2.7,0.6,5.2,0.6,7.1c0,0,0,0,0,0
		C196.5,68.7,201.7,70,208.2,70z"
        />
        <path
          class="st1 picklericked"
          id="zerotop_3_"
          d="M156.5,50.9c1.6,4.3,3,9,3.5,13.9l0,0.7c-0.1,2.1-5.6,3.7-12.3,3.7c-6.8,0-12.3-1.7-12.3-3.8
		c0-0.1,0-0.1,0-0.2l0,0.2l0,0c0-1.4,0.2-2.9,0-4.2l0,0c-0.2-1.1-0.4-1.7-1.5-1.7c-0.8,0-1.4,0.4-1.7,1.1c-0.7,1.5-1.2,3.1-1.6,4.9
		h0c0,0,0,0,0,0c-0.1,0.2-0.1,0.5-0.2,0.8c-1,1.7-6.2,2.9-12.6,2.9c-6.9,0-12.4-1.5-12.7-3.3c1.2-8.1,3.7-15.2,7.5-21.4
		c3.8-4.6,6.7-6.1,8.5-7.2c3.4-2.1,7-3.1,10.7-2.8c5.7,0.4,10.8,2.1,15.4,5.1s7.7,6.8,9.4,11.4"
        />
      </g>
    </svg>
    <div class="bottomconvo">Page not found. Wubba Lubba Dub Dub.</div>
  </div>
</div>
<svg
  id="picklerick"
  version="1.1"
  id="Layer_1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
  viewBox="0 0 514.366 679.479"
  style="enable-background: new 0 0 514.366 679.479"
  xml:space="preserve"
>
  <g>
    <g>
      <path
        class="st0"
        d="M0,594.692c0.368,9.429,0.932,18.46,3.849,27.772c5.133,16.389,16.535,26.785,29.962,35.161
			c9.111,5.684,19.397,10.048,29.722,13.084c14.094,4.145,28.168,9.485,43.283,8.689c9.169-0.483,18.424-0.832,27.437-2.409
			c10.709-1.874,21.237-4.852,31.775-7.613c25.409-6.659,47.632-19.08,66.196-37.702c21.395-21.461,42.889-42.84,63.727-64.835
			c14.872-15.698,30.49-31.141,42.695-48.825c28.668-41.536,55.201-84.565,77.177-130.101
			c17.662-36.597,34.143-73.766,51.052-110.725c14.224-31.09,27.826-62.464,36.821-95.535c4.205-15.462,8.599-31.138,10.12-46.985
			c1.393-14.504-0.083-29.48-1.923-44.043c-1.848-14.625-8.652-27.764-16.814-40.009c-8.763-13.146-21.012-22.272-34.263-30.62
			c-10.476-6.6-21.529-11.567-32.893-16.157c-7.572-3.059-15.429-4.782-23.409-3.302c-8.701,1.614-17.53,3.487-25.7,6.755
			c-8.831,3.532-18.241,7.394-25.133,13.619c-13.5,12.193-27.608,24.132-37.312,39.972c-2.764,4.512-5.193,9.229-7.852,13.808
			c-3.871,6.669-7.996,13.197-11.679,19.967c-5.462,10.04-10.251,20.461-16.008,30.323c-11.086,18.991-22.731,37.654-33.972,56.556
			c-4.519,7.599-8.523,15.504-12.876,23.205c-3.463,6.127-7.326,12.035-10.617,18.249c-9.675,18.269-18.398,37.09-28.9,54.864
			c-13.423,22.717-27.817,44.894-42.566,66.783c-9.636,14.302-21.358,27.21-30.818,41.614
			c-7.977,12.146-17.769,22.305-28.151,32.166c-10.142,9.634-18.869,20.527-27.129,31.777
			c-8.571,11.673-17.328,23.237-25.317,35.303c-8.56,12.928-17.067,25.994-24.258,39.703C4.874,546.841,1.153,570.545,0,594.692z"
      />
      <path
        class="st1"
        d="M0,594.692c1.153-24.147,4.874-47.851,16.225-69.491c7.191-13.708,15.698-26.774,24.258-39.703
			c7.989-12.066,16.746-23.629,25.317-35.303c8.26-11.25,16.987-22.143,27.129-31.777c10.382-9.862,20.174-20.02,28.151-32.166
			c9.46-14.404,21.182-27.313,30.818-41.614c14.748-21.889,29.143-44.065,42.566-66.783c10.502-17.774,19.225-36.594,28.9-54.864
			c3.291-6.214,7.154-12.123,10.617-18.249c4.353-7.701,8.357-15.605,12.876-23.205c11.241-18.902,22.887-37.565,33.972-56.556
			c5.757-9.862,10.546-20.283,16.008-30.323c3.683-6.77,7.807-13.298,11.679-19.967c2.658-4.579,5.087-9.296,7.852-13.808
			c9.704-15.84,23.812-27.779,37.312-39.972c6.893-6.225,16.302-10.087,25.133-13.619c8.17-3.267,16.999-5.141,25.7-6.755
			c7.981-1.48,15.837,0.243,23.409,3.302c11.363,4.59,22.417,9.556,32.893,16.157c13.251,8.349,25.5,17.474,34.263,30.62
			c8.162,12.244,14.966,25.384,16.814,40.009c1.84,14.562,3.315,29.539,1.923,44.043c-1.521,15.847-5.915,31.524-10.12,46.985
			c-8.995,33.071-22.596,64.445-36.821,95.535c-16.909,36.959-33.39,74.128-51.052,110.725
			c-21.976,45.536-48.51,88.565-77.177,130.101c-12.205,17.683-27.823,33.127-42.695,48.825
			c-20.838,21.995-42.332,43.373-63.727,64.835c-18.564,18.622-40.787,31.044-66.196,37.702c-10.538,2.762-21.066,5.74-31.775,7.613
			c-9.012,1.577-18.267,1.926-27.437,2.409c-15.115,0.796-29.189-4.545-43.283-8.689c-10.325-3.036-20.611-7.4-29.722-13.084
			c-13.427-8.377-24.829-18.772-29.962-35.161C0.932,613.152,0.368,604.121,0,594.692z M241.21,204.18
			c-1.72,2.982-3.44,5.964-5.16,8.946c-4.524,7.925-9.327,15.705-13.525,23.799c-20.178,38.897-41.95,76.854-67.986,112.151
			c-16.084,21.806-31.763,44.181-50.155,63.946c-23.34,25.083-44.612,51.553-64.079,79.604
			c-23.5,33.862-37.315,70.649-34.146,112.679c1.438,19.072,8.473,35.055,24.976,45.351c28.189,17.587,59.018,25.346,92.304,22.782
			c29.839-2.298,57.31-12.434,82.457-27.787c13.465-8.221,25.518-19.308,36.706-30.592c24.016-24.221,47.52-48.994,70.323-74.359
			c13.183-14.665,25.227-30.477,36.607-46.603c9.474-13.425,17.45-27.935,25.703-42.19c13.422-23.184,27.134-46.234,39.557-69.952
			c8.551-16.326,14.664-33.911,22.681-50.54c21.328-44.24,41.607-88.916,57.598-135.4c10.534-30.62,18.978-61.476,14.526-94.656
			c-2.824-21.049-8.892-40.068-23.365-56.03c-16.938-18.681-38.406-29.82-61.665-38.327c-8.536-3.122-16.748-3.882-25.247-0.473
			c-1.378,0.553-2.865,0.9-4.335,1.149c-18.813,3.19-33.708,13.657-47.557,25.875c-14.155,12.489-24.585,27.933-33.944,44.153
			c-18.626,32.28-37.276,64.545-55.833,96.864C252.028,184.359,246.681,194.306,241.21,204.18z"
      />
      <path
        class="st2"
        d="M241.21,204.18c5.472-9.874,10.818-19.82,16.439-29.609c18.557-32.319,37.207-64.585,55.833-96.864
			c9.359-16.22,19.788-31.663,33.944-44.153c13.849-12.219,28.744-22.685,47.557-25.875c1.47-0.249,2.957-0.596,4.335-1.149
			c8.499-3.408,16.711-2.648,25.247,0.473c23.26,8.507,44.727,19.646,61.665,38.327c14.473,15.962,20.541,34.982,23.365,56.03
			c4.452,33.18-3.992,64.036-14.526,94.656c-15.991,46.484-36.27,91.16-57.598,135.4c-8.017,16.629-14.13,34.214-22.681,50.54
			c-12.423,23.718-26.135,46.768-39.557,69.952c-8.252,14.254-16.228,28.764-25.703,42.19
			c-11.38,16.126-23.423,31.938-36.607,46.603c-22.803,25.366-46.306,50.138-70.323,74.359
			c-11.188,11.283-23.241,22.371-36.706,30.592c-25.147,15.353-52.618,25.489-82.457,27.787
			c-33.286,2.563-64.115-5.195-92.304-22.782c-16.503-10.296-23.538-26.279-24.976-45.351
			c-3.17-42.031,10.645-78.817,34.146-112.679c19.467-28.051,40.74-54.521,64.079-79.604c18.391-19.765,34.071-42.14,50.155-63.946
			c26.036-35.298,47.808-73.254,67.986-112.151c4.199-8.094,9.001-15.874,13.527-23.798c0.746,2.282,1.213,4.709,2.304,6.811
			c1.521,2.931,3.509,5.619,5.297,8.412c0.474-0.328,0.947-0.655,1.421-0.983c-0.528-0.939-1.054-1.879-1.585-2.817
			c-6.012-10.618-4.55-15.239,6.6-20.683c1.483-0.724,3.102-1.173,4.575-1.915c0.85-0.428,1.534-1.186,2.293-1.795
			c-0.206-0.413-0.411-0.827-0.617-1.24C251.296,200.671,246.253,202.425,241.21,204.18z M451.225,81.258c0,0,0.003,0.08,0.003,0.08
			c-0.019-1.989,0.46-4.145-0.139-5.94c-3.175-9.51-6.301-19.062-10.086-28.336c-2.577-6.315-7.384-11.312-14.353-12.406
			c-11.76-1.846-23.047,0.128-33.322,6.543c-5.999,0.565-12.358,0.066-17.914,1.944c-8.323,2.814-11.662,3.296-8.876,14.485
			c-1.34,1.973-2.564,4.038-4.045,5.899c-2.705,3.397-5.562,6.673-8.355,10c-3.226,0.572-6.732,0.52-9.631,1.82
			c-16.766,7.517-25.5,21.038-21.325,41.924c-7.617,6.722-15.233,13.445-22.85,20.167c-18.274,9.06-21.154,23.923-18.073,39.805
			c-1.309,8.604-2.37,17.255-3.983,25.801c-2.573,13.633-5.307,27.243-8.356,40.777c-2.975,13.206-9.112,25.117-15.654,36.893
			c-2.701,4.861-4.979,10.383-5.659,15.828c-0.741,5.934-3.08,10.726-6.369,15.271c-6.214,8.585-12.661,17-18.953,25.529
			c-5.392,7.308-10.206,15.112-16.159,21.923c-10.949,12.528-21.193,25.415-28.274,40.611c-4.395,9.433-8.622,18.998-13.824,27.984
			c-4.698,8.115-10.651,15.501-15.992,23.249c-5.765,8.363-6.155,8.518-15.243,4.877c-5.033-2.016-12.807-0.344-16.189,3.481
			c-2.802,3.169-3.315,10.899-0.261,16.442c0-3.247-0.112-5.166,0.02-7.068c0.494-7.127,4.345-11.536,11.185-11.346
			c2.834,0.079,6.136,2.216,8.123,4.414c0.779,0.862-0.869,5.002-2.44,6.695c-4.169,4.492-9.292,8.117-13.325,12.71
			c-9.726,11.075-19.128,22.439-28.508,33.811c-10.885,13.197-18.234,28.385-24.492,44.178c-2.441,6.159-0.712,16.696,4.98,19.53
			c4.709,2.344,10.8,3.209,16.118,2.773c12.643-1.038,22.596-8.13,31.242-16.896c5.935-6.017,11.347-12.552,16.975-18.871
			c16.332-18.338,32.774-36.581,48.898-55.101c3.941-4.527,6.674-10.084,10.246-14.96c2.968-4.05,5.754-8.599,9.671-11.514
			c9.955-7.408,21.311-13.195,28.402-23.82c5.31-7.956,10.591-16.127,14.376-24.856c4.712-10.864,6.625-23.047,12.027-33.48
			c6.351-12.263,14.093-24.188,23.201-34.525c8.109-9.203,18.963-15.968,28.497-23.939c7.464-6.24,16.024-11.701,21.861-19.239
			c10.734-13.863,19.743-29.054,29.644-43.573c3.011-4.415,6.589-8.443,9.909-12.649c4.824,0.68,9.677,2.096,14.467,1.909
			c18.562-0.723,35.079-18.226,33.481-36.347c-0.633-7.175-4.374-14.075-6.699-21.1c1.03-3.571,2.06-7.143,3.089-10.714
			c1.746-1.419,3.492-2.838,5.238-4.257c-0.21-0.342-0.419-0.683-0.629-1.025c-1.186,0.212-2.372,0.425-3.557,0.637
			c0.321-2.494,0.641-4.989,0.961-7.477c19.86-5.358,29.779-26.959,24.062-44.589c2.303-7.593,4.606-15.185,6.91-22.779
			c0.849-1.529,2.514-3.121,2.401-4.574c-0.41-5.264-1.418-10.481-2.2-15.716c0.103-0.11,0.307-0.299,0.293-0.316
			C451.607,81.627,451.412,81.446,451.225,81.258z M375.79,40.582c0.696-0.161,2.123-0.366,3.466-0.822
			c10.288-3.495,20.229-7.721,28.842-14.514c1.01-0.797,2.128-2.439,1.953-3.481c-0.175-1.045-1.799-2.419-2.971-2.631
			c-6.305-1.14-12.652-2.499-19.015-2.67c-3.214-0.087-7.197,1.397-9.576,3.555c-3.662,3.321-5.978,8.075-9.353,11.777
			c-3.607,3.957-3.527,5.846,1.472,7.92C371.936,40.267,373.512,40.224,375.79,40.582z M233.598,560.964
			c1.467,7.41,2.085,14.744-4.484,19.769c-6.639,5.078-13.696,2.444-20.552-0.639c3.272,5.404,8.536,6.266,13.912,6.048
			c6.34-0.257,10.991-3.737,13.491-9.504C238.309,571.229,237.89,565.867,233.598,560.964z M62.765,501.233
			c-3.802-6.357-12.157-9.662-7.573-18.175c3.813-7.082,10.827-7.486,18.618-8.417c-10.974-3.797-18.32,0.976-21.045,7.118
			C49.237,489.712,52.938,496.974,62.765,501.233z M361.358,391.435c5.22,5.034,11.295,4.89,16.113,0.159
			c5.667-5.564,6.867-14.13,2.789-18.505c-0.938,5.073-0.717,10.951-3.166,15.339C373.983,394.005,367.404,392.381,361.358,391.435z
			 M160.759,368.346c-0.803-4.201-2.949-8.39-1.779-11.198c1.292-3.101,5.623-4.936,8.727-7.4
			c-6.112-0.28-10.059,2.115-11.652,6.963C154.622,361.069,156.151,365.201,160.759,368.346z"
      />
      <path
        class="st3"
        d="M241.21,204.18c5.043-1.754,10.086-3.508,15.13-5.263c0.206,0.413,0.411,0.827,0.617,1.24
			c-0.759,0.609-1.443,1.367-2.293,1.795c-1.473,0.741-3.092,1.19-4.575,1.915c-11.15,5.444-12.612,10.065-6.6,20.683
			c0.531,0.937,1.057,1.878,1.585,2.817c-0.474,0.328-0.947,0.655-1.421,0.983c-1.788-2.792-3.776-5.481-5.297-8.412
			c-1.091-2.102-1.557-4.529-2.304-6.811C237.769,210.143,239.489,207.162,241.21,204.18z"
      />
      <path
        class="st3"
        d="M420.306,169.803c-0.321,2.494-0.641,4.989-0.962,7.483c-10.552,5.997-19.422,1.46-28.022-4.528
			c-2.434-1.695-4.73-3.587-8.16-6.206c5.098,12.175,22.015,18.983,35.129,15.38c-1.03,3.571-2.06,7.143-3.089,10.712
			c-1.421-0.877-2.843-1.751-4.912-3.023c1.362,3.41,2.383,5.966,3.402,8.523c-1.201,1.089-2.401,2.178-3.6,3.266
			c-11.811-12.773-26.851-19.43-43.798-19.983c-13.629-0.445-23.341-5.923-31.24-16.335c-3.207-4.227-6.99-8.028-10.611-11.929
			c-7.096-7.645-14.155-9.454-22.251-5.826c-8.35,3.742-13.459,12.702-12.443,21.956c1.338,12.195,6.158,22.976,13.079,33.015
			c5.767,8.365,14.39,13.16,22.291,18.924c14.2,10.359,29.638,17.717,47.213,20.101c1.376,0.48,2.753,0.961,3.752,1.31
			c-0.252,1.322-0.477,2.497-0.701,3.672l0.005-0.032c-0.363,0.299-0.725,0.598-1.088,0.896c-0.116,0.335-0.233,0.67-0.349,1.004
			c-3.318,4.205-6.896,8.234-9.907,12.649c-9.901,14.519-18.91,29.71-29.644,43.573c-5.837,7.538-14.397,12.999-21.861,19.239
			c-9.534,7.971-20.388,14.736-28.497,23.939c-9.108,10.337-16.85,22.262-23.201,34.525c-5.403,10.432-7.316,22.615-12.027,33.48
			c-3.786,8.729-9.067,16.9-14.376,24.856c-7.091,10.625-18.447,16.413-28.402,23.82c-3.918,2.915-6.704,7.464-9.671,11.514
			c-3.573,4.875-6.305,10.433-10.246,14.96c-16.124,18.52-32.565,36.763-48.898,55.101c-5.628,6.319-11.04,12.853-16.975,18.871
			c-8.646,8.766-18.599,15.858-31.242,16.896c-5.318,0.437-11.409-0.429-16.118-2.773c-5.693-2.834-7.421-13.371-4.98-19.53
			c6.258-15.793,13.607-30.981,24.492-44.178c9.38-11.373,18.783-22.736,28.508-33.811c4.034-4.593,9.157-8.219,13.325-12.71
			c1.571-1.693,3.219-5.833,2.44-6.695c-1.987-2.198-5.289-4.335-8.123-4.414c-6.84-0.19-10.691,4.219-11.185,11.346
			c-0.132,1.902-0.02,3.822-0.02,7.068c-3.054-5.544-2.54-13.273,0.261-16.442c3.381-3.825,11.156-5.497,16.189-3.481
			c9.088,3.64,9.478,3.485,15.243-4.877c5.341-7.748,11.293-15.133,15.992-23.249c5.202-8.985,9.429-18.551,13.824-27.984
			c7.081-15.196,17.325-28.083,28.274-40.611c5.953-6.812,10.767-14.615,16.159-21.923c6.292-8.528,12.739-16.944,18.953-25.529
			c3.289-4.545,5.628-9.336,6.369-15.271c0.68-5.445,2.958-10.966,5.659-15.828c6.542-11.775,12.679-23.687,15.654-36.893
			c3.049-13.534,5.783-27.144,8.356-40.777c1.613-8.547,2.674-17.197,3.984-25.801c7.499,20.858,19.949,37.393,29.789,37.971
			c-3.32-3.884-7.48-6.947-10.998-10.625c-9.988-10.44-16.334-22.775-16.565-37.43c-0.166-10.485,4.25-19.356,13.505-24.64
			c8.702-4.969,17.345-2.861,25.388,2.506c2.012,1.343,4.194,2.431,6.299,3.636c0.264-0.305,0.529-0.611,0.793-0.916
			c-1.755-1.797-3.326-3.837-5.299-5.349c-7.429-5.692-16.093-5.623-24.839-4.958c7.617-6.722,15.233-13.445,22.85-20.167
			c5.314,16.144,17.904,22.354,34.021,24.097c-1.807,2.161-3.505,3.636-4.499,5.487c-2.874,5.349-6.293,10.613-7.936,16.358
			c-1.695,5.924,3.304,9.592,8.962,7.079c3.914-1.739,7.638-4.026,11.169-6.471c2.667-1.847,4.893-4.331,7.315-6.531
			c-0.378-0.478-0.756-0.955-1.134-1.433c-1.448,0.874-2.951,1.669-4.331,2.638c-3.266,2.292-6.284,5.021-9.77,6.885
			c-2.419,1.294-5.45,1.442-8.208,2.103c0.117-3.132,0.207-6.265,0.381-9.394c0.025-0.447,0.495-0.855,0.692-1.31
			c5.301-12.235,16.417-17.955,26.062-23.776c1.813,6.152,2.419,13.142,5.72,18.459
			C390.358,165.529,403.626,171.666,420.306,169.803z M321.902,120.762c-3.005,6.832-0.699,13.239,5.592,19.249
			c6.003,5.736,12.547,8.118,18.208,5.27C331.858,142.681,323.64,135.348,321.902,120.762z"
      />
      <path
        class="st3"
        d="M451.277,102.442c-2.303,7.593-4.607,15.185-6.91,22.778c-4.785-10.23-12.159-17.149-23.565-19.649
			c-10.863-2.382-21.303-2.352-31.654,3.989c0.4-10.332-2.847-18.109-10.234-24.164c-7.323-6.003-15.385-10.278-24.778-11.869
			c2.794-3.327,5.651-6.602,8.355-10c1.481-1.86,2.705-3.926,4.043-5.894c3.622,0.072,7.247,0.256,10.868,0.186
			c11.189-0.218,22.207,0.39,32.791,4.663c13.971,5.64,23.013,15.884,28.601,29.574C441.098,97.697,444.228,102.453,451.277,102.442
			z"
      />
      <path
        class="st1"
        d="M354.136,73.526c9.393,1.591,17.454,5.866,24.778,11.869c7.387,6.055,10.634,13.832,10.234,24.164
			c10.351-6.341,20.792-6.371,31.654-3.989c11.406,2.501,18.78,9.419,23.565,19.649c5.717,17.63-4.202,39.23-24.061,44.586
			c-16.679,1.86-29.948-4.277-38.681-18.345c-3.301-5.317-3.908-12.307-5.72-18.459c-9.645,5.821-20.761,11.541-26.062,23.776
			c-0.197,0.455-0.667,0.863-0.692,1.31c-0.174,3.129-0.264,6.262-0.381,9.394c2.758-0.66,5.789-0.809,8.208-2.103
			c3.486-1.864,6.504-4.594,9.77-6.885c1.381-0.969,2.884-1.764,4.331-2.638c0.378,0.478,0.756,0.955,1.134,1.433
			c-2.422,2.2-4.648,4.684-7.315,6.531c-3.53,2.445-7.254,4.732-11.169,6.471c-5.658,2.514-10.657-1.155-8.962-7.079
			c1.643-5.744,5.063-11.009,7.936-16.358c0.995-1.852,2.692-3.326,4.499-5.487c-16.117-1.743-28.707-7.953-34.021-24.097
			c-4.176-20.886,4.558-34.407,21.324-41.924C347.404,74.046,350.91,74.098,354.136,73.526z M408.099,106.876
			c-15.577-0.137-27.708,12.747-27.879,29.61c-0.16,15.703,15.878,30.585,33.187,30.796c15.503,0.189,29.508-14.488,29.568-30.986
			C443.038,118.608,429.352,107.063,408.099,106.876z M325.253,106.738c-0.039,18.541,12.267,30.868,30.881,30.931
			c14.261,0.048,30.185-16.635,30.138-31.575c-0.043-13.613-17.737-29.311-33.365-29.543
			C340.809,76.372,324.258,91.227,325.253,106.738z"
      />
      <path
        class="st3"
        d="M393.326,41.198c10.275-6.415,21.562-8.389,33.322-6.543c6.969,1.094,11.776,6.092,14.353,12.406
			c3.785,9.275,6.91,18.826,10.086,28.336c0.6,1.796,0.121,3.951,0.14,5.94c-7.432-12.621-16.628-23.786-29.991-30.188
			C412.377,46.905,402.66,44.452,393.326,41.198z"
      />
      <path
        class="st1"
        d="M393.326,41.198c9.333,3.255,19.051,5.707,27.91,9.951c13.363,6.402,22.558,17.567,29.991,30.188
			c0,0.001-0.003-0.079-0.002-0.079c0.006,0.32,0.09,0.617,0.253,0.892c0.782,5.235,1.79,10.452,2.2,15.716
			c0.113,1.454-1.552,3.046-2.401,4.575c-7.049,0.011-10.179-4.744-12.481-10.386c-5.588-13.69-14.63-23.934-28.601-29.574
			c-10.585-4.273-21.603-4.881-32.791-4.663c-3.621,0.07-7.247-0.114-10.868-0.186c-2.784-11.194,0.555-11.676,8.878-14.49
			C380.968,41.264,387.327,41.763,393.326,41.198z M369.298,55.257c2.806-0.23,5.438-0.569,8.078-0.643
			c30.918-0.872,52.931,8.94,64.704,37.219c0.697,1.673,1.467,3.476,2.705,4.717c1.163,1.166,2.992,1.669,4.529,2.463
			c0.616-1.569,2.078-3.387,1.702-4.665c-1.715-5.83-2.968-12.134-6.163-17.132c-12.642-19.771-31.502-29.964-54.445-32.971
			c-6.586-0.863-12.916,0.417-18.735,3.832C369.052,49.614,367.757,51.575,369.298,55.257z"
      />
      <path
        class="st3"
        d="M375.79,40.582c-2.279-0.358-3.854-0.315-5.183-0.867c-4.999-2.074-5.079-3.964-1.472-7.92
			c3.375-3.702,5.692-8.455,9.353-11.777c2.379-2.158,6.362-3.641,9.576-3.555c6.363,0.171,12.71,1.53,19.015,2.67
			c1.173,0.212,2.796,1.586,2.971,2.631c0.174,1.042-0.943,2.684-1.953,3.481c-8.613,6.794-18.554,11.019-28.842,14.514
			C377.914,40.217,376.486,40.421,375.79,40.582z"
      />
      <path
        class="st1"
        d="M300.33,137.438c8.746-0.665,17.41-0.734,24.839,4.958c1.974,1.512,3.544,3.552,5.299,5.349
			c-0.264,0.305-0.529,0.611-0.793,0.916c-2.104-1.205-4.286-2.293-6.299-3.636c-8.043-5.367-16.686-7.475-25.388-2.506
			c-9.255,5.285-13.671,14.155-13.505,24.64c0.231,14.655,6.577,26.99,16.565,37.43c3.518,3.677,7.678,6.741,10.998,10.625
			c-9.84-0.578-22.29-17.113-29.789-37.971C279.176,161.361,282.057,146.498,300.33,137.438z"
      />
      <path
        class="st1"
        d="M413.695,198.142c-1.021-2.556-2.042-5.112-3.404-8.523c2.069,1.272,3.49,2.146,4.912,3.023
			c2.325,7.027,6.066,13.928,6.699,21.102c1.598,18.12-14.919,35.623-33.481,36.347c-4.79,0.187-9.643-1.229-14.469-1.909
			c0.115-0.335,0.232-0.669,0.348-1.004c0.363-0.299,0.725-0.598,1.088-0.897c0,0-0.005,0.032-0.005,0.031
			c11.732,2.403,22.369,0.071,31.988-7.151C419.88,229.771,422.872,210.703,413.695,198.142z"
      />
      <path
        class="st1"
        d="M418.292,181.93c-13.115,3.604-30.031-3.205-35.129-15.38c3.43,2.619,5.726,4.512,8.16,6.206
			c8.6,5.989,17.47,10.526,28.022,4.528c1.186-0.212,2.372-0.424,3.558-0.637c0.209,0.342,0.419,0.683,0.629,1.025
			C421.784,179.093,420.038,180.512,418.292,181.93z"
      />
      <path
        class="st3"
        d="M233.598,560.964c4.293,4.903,4.711,10.265,2.366,15.674c-2.5,5.767-7.151,9.247-13.491,9.504
			c-5.376,0.218-10.639-0.644-13.912-6.048c6.855,3.083,13.913,5.717,20.552,0.639C235.683,575.708,235.064,568.374,233.598,560.964
			z"
      />
      <path
        class="st3"
        d="M62.765,501.233c-9.827-4.259-13.528-11.521-10-19.475c2.724-6.142,10.071-10.915,21.045-7.118
			c-7.791,0.931-14.804,1.336-18.618,8.417C50.607,491.571,58.963,494.875,62.765,501.233z"
      />
      <path
        class="st3"
        d="M361.358,391.435c6.045,0.946,12.625,2.57,15.736-3.006c2.448-4.388,2.227-10.266,3.166-15.339
			c4.078,4.375,2.878,12.941-2.789,18.505C372.654,396.324,366.579,396.469,361.358,391.435z"
      />
      <path
        class="st3"
        d="M160.759,368.346c-4.608-3.145-6.137-7.277-4.704-11.635c1.594-4.848,5.541-7.243,11.652-6.963
			c-3.104,2.464-7.435,4.299-8.727,7.4C157.81,359.956,159.956,364.146,160.759,368.346z"
      />
      <path
        class="st3"
        d="M451.477,82.15c-0.162-0.275-0.247-0.572-0.253-0.892c0.187,0.188,0.383,0.369,0.546,0.575
			C451.784,81.851,451.58,82.041,451.477,82.15z"
      />
      <path
        class="st1"
        d="M372.332,241.332c-17.576-2.385-33.013-9.743-47.213-20.101c-7.901-5.764-16.524-10.559-22.291-18.924
			c-6.921-10.039-11.741-20.819-13.079-33.015c-1.016-9.254,4.093-18.214,12.443-21.956c8.096-3.628,15.155-1.819,22.251,5.826
			c3.621,3.901,7.404,7.702,10.611,11.929c7.899,10.412,17.612,15.89,31.24,16.335c16.946,0.553,31.986,7.211,43.798,19.983
			c10.333,16.419-0.377,37.6-19.459,39.249C384.56,241.182,378.434,241.123,372.332,241.332z M357.642,204.592
			c-0.508,0.595-1.015,1.19-1.523,1.786c1.926,1.282,3.747,2.772,5.797,3.81c9.621,4.873,13.587,13.172,14.564,23.401
			c0.308,3.221,1.61,5.099,5.451,4.556c3.505-0.495,5.67-1.612,5.31-5.574c-0.15-1.652,0.012-3.33-0.034-4.994
			C386.728,210.38,369.94,201.389,357.642,204.592z M337.402,171.574c-5.265,5.989-6.12,9.113-3.405,11.414
			c2.577,2.184,5.907,0.641,10.103-5.335C341.979,175.728,339.706,173.665,337.402,171.574z M364.222,236.947
			c0.52-0.434,1.04-0.869,1.56-1.303c-1.541-3.178-3.081-6.356-4.622-9.534c-2.793,2.036-5.585,4.072-8.378,6.108
			c0.263,0.509,0.525,1.018,0.788,1.527C357.121,234.812,360.672,235.879,364.222,236.947z M336.866,225.525
			c0.543-0.183,1.087-0.367,1.63-0.55c-0.7-3.588-1.399-7.176-2.099-10.764c-2.824,1.467-5.649,2.934-9.509,4.939
			C331.155,221.877,334.01,223.701,336.866,225.525z M349.467,232.168c0.507-0.345,1.014-0.689,1.52-1.034
			c-1.055-3.127-2.109-6.254-3.164-9.381c-2.711,1.418-5.423,2.835-9.374,4.901C343.12,228.991,346.294,230.579,349.467,232.168z
			 M325.438,217.52c0.406-0.241,0.812-0.483,1.218-0.724c-0.505-3.564-1.01-7.129-1.71-12.071c-3.613,2.948-5.94,4.847-8.754,7.144
			C319.683,214.002,322.56,215.761,325.438,217.52z M335.31,169.513c-2.265-2.482-3.786-4.437-5.626-6.022
			c-0.74-0.638-3.012-0.889-3.164-0.591c-0.921,1.808-2.154,3.965-1.814,5.721c0.214,1.101,2.944,2.194,4.647,2.387
			C330.99,171.192,332.758,170.212,335.31,169.513z M367.55,184.023c-4.347-0.298-7.297-0.5-11.724-0.803
			c1.842,3.966,3.1,6.673,4.871,10.486C363.327,189.99,364.992,187.638,367.55,184.023z M345.489,179.707
			c-0.338,3.22-0.825,5.664-0.683,8.072c0.035,0.596,2.664,1.826,3.149,1.47c1.913-1.406,3.447-3.327,5.55-5.501
			C350.572,182.269,348.703,181.327,345.489,179.707z M379.862,187.877c-0.161-0.482-0.323-0.964-0.484-1.447
			c-3.143-0.652-6.286-1.303-9.429-1.955c-0.262,0.323-0.525,0.646-0.787,0.969c1.538,2.152,2.683,5.173,4.767,6.116
			C375.11,192.094,377.833,189.217,379.862,187.877z M374.626,238.734c-0.837-3.213-1.461-5.611-2.085-8.01
			c-0.481-0.125-0.963-0.249-1.444-0.374c-1.383,2.1-2.766,4.2-4.563,6.93C369.49,237.812,371.511,238.175,374.626,238.734z
			 M315.579,199.759c-3.356,1.723-5.432,2.789-7.094,3.642c1.978,2.44,3.708,4.573,6.284,7.75
			C315.062,207.028,315.265,204.166,315.579,199.759z M305.86,201.742c0.858-6.945-0.341-8.877-6.073-9.799
			C301.859,195.287,303.672,198.212,305.86,201.742z M324.056,158.844c0.184-0.561,0.367-1.122,0.551-1.683
			c-1.508-1.482-3.015-2.964-4.523-4.447c-0.424,0.133-0.847,0.267-1.271,0.4c0.196,1.669-0.143,3.773,0.753,4.871
			C320.305,158.891,322.504,158.603,324.056,158.844z"
      />
      <path
        class="st2"
        d="M372.332,241.332c6.102-0.208,12.228-0.149,18.303-0.674c19.082-1.649,29.791-22.829,19.459-39.249
			c1.198-1.088,2.398-2.177,3.599-3.266c9.179,12.561,6.187,31.628-6.322,41.02c-9.619,7.221-20.255,9.553-31.988,7.151
			c0.225-1.174,0.449-2.349,0.701-3.672C375.085,242.293,373.708,241.812,372.332,241.332z"
      />
      <path
        class="st1"
        d="M321.902,120.762c1.738,14.586,9.956,21.919,23.8,24.52c-5.661,2.848-12.205,0.465-18.208-5.27
			C321.202,134.001,318.896,127.594,321.902,120.762z"
      />
      <path
        class="st2"
        d="M375.388,246.282c-0.363,0.299-0.725,0.598-1.088,0.897C374.663,246.879,375.026,246.58,375.388,246.282z"
      />
      <path
        class="st4"
        d="M408.099,106.876c21.253,0.187,34.939,11.732,34.875,29.42c-0.06,16.498-14.065,31.174-29.568,30.986
			c-17.308-0.211-33.347-15.093-33.187-30.796C380.392,119.623,392.523,106.739,408.099,106.876z M408.973,134.55
			c-0.054,0.722-0.108,1.444-0.162,2.166c1.943,0.898,3.885,1.796,5.828,2.694c0.737-2.372,1.473-4.743,2.209-7.115
			c-0.427-0.267-0.854-0.535-1.281-0.802C413.369,132.512,411.171,133.531,408.973,134.55z"
      />
      <path
        class="st4"
        d="M325.253,106.738c-0.995-15.511,15.556-30.366,27.655-30.187c15.628,0.231,33.322,15.93,33.365,29.543
			c0.047,14.941-15.877,31.624-30.138,31.575C337.521,137.606,325.214,125.279,325.253,106.738z M347.462,99.073
			c-1.694,4.654,1.564,4.813,4.356,5.801c0.564-1.691,1.06-3.181,1.756-5.269C351.191,99.397,349.321,99.235,347.462,99.073z"
      />
      <path
        class="st4"
        d="M369.298,55.257c-1.541-3.681-0.246-5.643,2.375-7.181c5.819-3.415,12.149-4.695,18.735-3.832
			c22.943,3.007,41.803,13.2,54.445,32.971c3.196,4.998,4.449,11.302,6.163,17.132c0.376,1.278-1.087,3.096-1.703,4.665
			c-1.536-0.794-3.365-1.297-4.528-2.463c-1.238-1.241-2.008-3.044-2.705-4.717c-11.773-28.279-33.786-38.091-64.704-37.219
			C374.736,54.688,372.104,55.027,369.298,55.257z"
      />
      <path
        class="st2"
        d="M357.642,204.592c12.298-3.204,29.086,5.787,29.565,22.985c0.046,1.664-0.116,3.342,0.034,4.994
			c0.36,3.962-1.805,5.079-5.31,5.574c-3.842,0.543-5.144-1.335-5.451-4.556c-0.977-10.229-4.943-18.528-14.564-23.401
			c-2.05-1.038-3.871-2.528-5.797-3.81C356.627,205.783,357.134,205.188,357.642,204.592z"
      />
      <path
        class="st4"
        d="M337.402,171.574c2.304,2.091,4.577,4.154,6.698,6.079c-4.196,5.976-7.525,7.519-10.103,5.335
			C331.282,180.688,332.137,177.563,337.402,171.574z"
      />
      <path
        class="st4"
        d="M364.222,236.947c-3.55-1.067-7.101-2.135-10.651-3.202c-0.263-0.509-0.525-1.018-0.788-1.527
			c2.793-2.036,5.585-4.072,8.378-6.108c1.541,3.178,3.081,6.356,4.622,9.534C365.262,236.078,364.742,236.513,364.222,236.947z"
      />
      <path
        class="st4"
        d="M336.866,225.525c-2.856-1.824-5.711-3.649-9.978-6.375c3.86-2.005,6.684-3.472,9.509-4.939
			c0.7,3.588,1.399,7.176,2.099,10.764C337.953,225.159,337.409,225.342,336.866,225.525z"
      />
      <path
        class="st4"
        d="M349.467,232.168c-3.174-1.588-6.347-3.177-11.017-5.514c3.951-2.066,6.662-3.483,9.374-4.901
			c1.055,3.127,2.109,6.254,3.164,9.381C350.481,231.478,349.974,231.823,349.467,232.168z"
      />
      <path
        class="st4"
        d="M325.438,217.52c-2.878-1.759-5.755-3.517-9.246-5.651c2.814-2.297,5.141-4.196,8.754-7.144
			c0.7,4.942,1.205,8.507,1.71,12.071C326.25,217.037,325.844,217.278,325.438,217.52z"
      />
      <path
        class="st4"
        d="M335.31,169.513c-2.552,0.699-4.32,1.679-5.956,1.494c-1.703-0.193-4.434-1.286-4.647-2.387
			c-0.341-1.755,0.893-3.913,1.814-5.721c0.152-0.298,2.424-0.047,3.164,0.591C331.524,165.076,333.045,167.031,335.31,169.513z"
      />
      <path
        class="st4"
        d="M367.55,184.023c-2.559,3.615-4.223,5.967-6.854,9.684c-1.771-3.814-3.029-6.52-4.871-10.486
			C360.253,183.523,363.203,183.725,367.55,184.023z"
      />
      <path
        class="st4"
        d="M345.489,179.707c3.214,1.62,5.083,2.563,8.016,4.041c-2.104,2.173-3.638,4.095-5.55,5.501
			c-0.485,0.356-3.114-0.874-3.149-1.47C344.664,185.371,345.151,182.926,345.489,179.707z"
      />
      <path
        class="st4"
        d="M379.862,187.877c-2.029,1.341-4.752,4.218-5.933,3.684c-2.085-0.943-3.229-3.965-4.767-6.116
			c0.262-0.323,0.525-0.646,0.787-0.969c3.143,0.652,6.286,1.303,9.429,1.955C379.539,186.912,379.7,187.394,379.862,187.877z"
      />
      <path
        class="st4"
        d="M374.626,238.734c-3.115-0.559-5.136-0.922-8.093-1.453c1.797-2.73,3.18-4.83,4.563-6.93
			c0.481,0.125,0.963,0.249,1.444,0.374C373.165,233.123,373.79,235.521,374.626,238.734z"
      />
      <path
        class="st4"
        d="M315.579,199.759c-0.313,4.407-0.516,7.269-0.809,11.392c-2.576-3.177-4.306-5.31-6.284-7.75
			C310.147,202.548,312.223,201.482,315.579,199.759z"
      />
      <path
        class="st4"
        d="M305.86,201.742c-2.188-3.53-4.001-6.456-6.073-9.799C305.518,192.865,306.717,194.797,305.86,201.742z"
      />
      <path
        class="st4"
        d="M324.056,158.844c-1.552-0.241-3.752,0.046-4.49-0.859c-0.896-1.098-0.557-3.202-0.753-4.871
			c0.424-0.133,0.847-0.267,1.271-0.4c1.508,1.482,3.015,2.964,4.523,4.447C324.424,157.722,324.24,158.283,324.056,158.844z"
      />
      <path
        class="st1"
        d="M408.973,134.55c2.198-1.019,4.397-2.038,6.595-3.057c0.427,0.267,0.854,0.535,1.281,0.802
			c-0.737,2.372-1.473,4.743-2.209,7.115c-1.943-0.898-3.885-1.796-5.828-2.694C408.865,135.994,408.919,135.272,408.973,134.55z"
      />
      <path
        class="st1"
        d="M347.462,99.073c1.859,0.162,3.729,0.325,6.112,0.532c-0.696,2.089-1.193,3.578-1.756,5.269
			C349.026,103.886,345.768,103.726,347.462,99.073z"
      />
    </g>
  </g>
</svg>

<svg
  id="swipe"
  version="1.1"
  id="Layer_1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  x="0px"
  y="0px"
  viewBox="0 0 514.366 679.479"
  style="enable-background: new 0 0 514.366 679.479"
  xml:space="preserve"
>
  <ellipse
    transform="matrix(0.1671 -0.9859 0.9859 0.1671 -117.3618 525.998)"
    class="st0"
    cx="252.647"
    cy="332.463"
    rx="305.411"
    ry="138.486"
  />
</svg>
