<link
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
  rel="stylesheet"
/>
<div class="container pb50 text-white myblog">
  <div class="row">
    <div class="col-md-9 mb40 my-2">
      <article>
        <img
          src="https://images.pexels.com/photos/693859/pexels-photo-693859.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
          alt=""
          class="img-fluid mb30"
        />
        <div class="post-content">
          <h3>
            {{ postTitle }}
          </h3>
          <ul class="post-meta list-inline">
            <li class="list-inline-item">
              <i class="fa fa-user-circle-o"></i>
              <a href="{{ authorLink }}">{{ authorName }}</a>
            </li>
            <li class="list-inline-item">
              <i class="fa fa-calendar-o"></i> <a href="#">{{ postDate }}</a>
            </li>
          </ul>
          <p>
            {{ part1 }}
          </p>
          <h5>{{ subTitle1 }}</h5>
          <p>
            {{ part2 }}
          </p>
          <h5>{{ subTitle2 }}</h5>
          <p>
            {{ part3 }}
          </p>
          <h5>{{ subTitle3 }}</h5>
          <p>
            {{ part4 }}
          </p>
          <h5>{{ subTitle4 }}</h5>
          <p>
            {{ part5 }}
          </p>
          <ul class="list-inline share-buttons">
            <li class="list-inline-item">Share Post:</li>
            <li class="list-inline-item">
              <a
                href="#"
                class="social-icon-sm si-dark si-colored-facebook si-gray-round"
              >
                <i class="fa fa-facebook"></i>
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                href="#"
                class="social-icon-sm si-dark si-colored-twitter si-gray-round"
              >
                <i class="fa fa-twitter"></i>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a
                href="#"
                class="social-icon-sm si-dark si-colored-linkedin si-gray-round"
              >
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
          </ul>
          <hr class="mb40" />
          <h4 class="mb40 text-uppercase font500">About Author</h4>
          <div class="media mb40">
            <i class="d-flex mr-3 fa fa-user-circle fa-5x text-primary"></i>
            <div class="media-body">
              <h5 class="mt-0 font700">{{ authorName }}</h5>
              {{ aboutAuthor }}
            </div>
          </div>
          <hr class="mb40" />
          <h4 class="mb40 text-uppercase font500">Comments</h4>

          <div class="media mb40" *ngFor="let comment of comments">
            <i class="d-flex mr-3 fa fa-user-circle-o fa-3x"></i>
            <div class="media-body">
              <h5 class="mt-0 font400 clearfix">
                <a href="#" class="float-right">Reply</a>
                {{ comment.author }}
              </h5>
              {{ comment.body }}
            </div>
          </div>

          <hr class="mb40" />
          <h4 class="mb40 text-uppercase font500">Post a comment</h4>
          <form role="form">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Anna Eric" />
            </div>
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="anna@post.com"
              />
            </div>
            <div class="form-group">
              <label>Comment</label>
              <textarea
                class="form-control"
                rows="5"
                placeholder="Comment"
              ></textarea>
            </div>
            <div class="clearfix float-right">
              <button type="button" class="btn btn-primary btn-lg">
                Submit
              </button>
            </div>
          </form>
        </div>
      </article>
      <!-- post article-->
    </div>
    <div class="col-md-3 mb40 my-2">
      <div class="mb40">
        <form>
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search..."
              aria-describedby="basic-addon2"
            />
            <button class="input-group-addon" id="basic-addon2">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </form>
      </div>
      <!--/col-->
      <div class="mb40">
        <h4 class="sidebar-title">Categories</h4>
        <ul class="list-unstyled categories">
          <li><a href="#">Movies</a></li>
          <li><a href="#">Musics</a></li>
          <li><a href="#">Family Games</a></li>
          <li><a href="#">Let's Cook</a></li>
        </ul>
      </div>
      <!--/col-->
      <div>
        <h4 class="sidebar-title">Latest Tech Posts</h4>
        <ul class="list-unstyled" *ngFor="let post of posts">
          <div id="post-card">
            <li class="media my-5">
              <img
                class="d-flex mr-3 img-fluid rounded-circle"
                width="64"
                [src]="post.avatarUrl"
                alt="Generic placeholder image"
              />
              <div class="media-body">
                <h5 class="mt-0 mb-1">
                  <a href="#">{{ post.title }}</a>
                </h5>
                {{ post.date }}
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
