<div class="my-container container-fluid">
  <div class="row text-center">
    <div class="col-12 col-md-7 col-lg-9 text-center">
      <app-intro></app-intro>
    </div>
    <div class="col-12 col-md-5 col-lg-3 px-0">
      <app-messages></app-messages>
    </div>
  </div>
</div>
